<nav class="site-nav">
  <!-- <div class="trigger"> -->
    <!-- {{ site.title }} instead of blog -->
    <!-- <a class="page-link" href="{{ site.baseurl }}/">blog</a>
    {% for page in site.pages %}
      {% if page.title %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %} -->
    <ul class="site-nav">
      <div class="container">
      <li><a class="page-link" href="/index">Home</a></li>
      <li><a class="page-link" href="/about">About</a></li>
      <li><a class="page-link" href="/698-Portfolio">698-Portfolio</a></li>
      <li><a class="page-link" href="/cv">CV</a></li>
      <li><a class="page-link" href="/links">Links</a></li>
      <li><a class="page-link" href="/My-Portfolio">My Portfolio</a></li>
    </ul>
  </div>
</nav
